[submodule "plugins-available/fugitive"]
	path = plugins-available/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins-available/gundo"]
	path = plugins-available/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "plugins-available/pathogen"]
	path = plugins-available/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "plugins-available/OmniCppComplete"]
	path = plugins-available/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete
[submodule "plugins-available/session"]
	path = plugins-available/session
	url = https://github.com/xolox/vim-session.git
[submodule "plugins-available/taglist"]
	path = plugins-available/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "plugins-available/supertab"]
	path = plugins-available/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "plugins-available/FuzzyFinder"]
	path = plugins-available/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "plugins-available/L9"]
	path = plugins-available/L9
	url = https://github.com/vim-scripts/L9.git
